 /* Inicio */

main {

    video, img, iframe {

        width: 95%;
        max-width: 75rem;
    }

    p {
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 550;
        font-size: large;
    }
}