html {
    font-size: 62.5%;
}

@import "variables";
@import "header";
@import "inicio";
@import "servicios";
@import "eventos";
@import "galeria";
@import "contacto";
@import "footer";



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}









 


